<p class="text-center mt-5">Su Calificación:</p>
<div class="m-auto d-flex justify-content-around w-50">
  <div class="mt-3" *ngFor="let item of calification" [ngClass]="{
    'fa-regular fa-circle-check': item == 1,
    'fa-solid fa-circle-exclamation': item == 0
  }">
  </div>
</div>
<div class="text-center mt-5">

  <div>
    <p>¿Que tanto recomendaria el Test?</p>
    <div class="d-flex justify-content-center">
      <div *ngFor="let i of optionsSurvey">
        <div (click)="getListQuestionValues1(i)" class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadiop1{{i}}" value={{i}} />
          <label class="form-check-label" for="inlineRadiop1{{i}}">{{i}}</label>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p>¿Que tan facil le parecio el Test?</p>
    <div class="d-flex justify-content-center">
      <div *ngFor="let i of optionsSurvey">
        <div (click)="getListQuestionValues2(i)" class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadiop2{{i}}" value={{i}} />
          <label class="form-check-label" for="inlineRadiop2{{i}}">{{i}}</label>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p>¿Que tanto recomendaria el Test?</p>
    <div class="d-flex justify-content-center">
      <div *ngFor="let i of optionsSurvey">
        <div (click)="getListQuestionValues3(i)" class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadiop3{{i}}" value={{i}} />
          <label class="form-check-label" for="inlineRadiop3{{i}}">{{i}}</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="containter mt-5">
  <div class=" input-group w-50 m-auto">
    <span class="input-group-text">Nombre</span>
    <input #personName type="text" aria-label="First name" class="form-control">
  </div>
  <div class="m-auto d-flex justify-content-center mt-3">
    <button (click)="sendData(personName.value)" class="" type="submit" class="btn btn-success">Enviar Datos</button>
  </div>
</div>

<!-- <form [formGroup]="form">
  <input (click)="getListQuestionValues()" type="radio" formControlName="food" value="beef"> Beef
  <input (click)="getListQuestionValues()" type="radio" formControlName="food" value="lamb"> Lamb
  <input (click)="getListQuestionValues()" type="radio" formControlName="food" value="fish"> Fish
</form> -->
