<h1 class="title text-center mt-5">Instrucciones</h1>

<div class="mt-3 container">

  <p><span class="numbers">1.</span> En la parte derecha de la pantalla se encuentran las flechas que serán la manera en
    la cual usted
    como jugador
    deberá construir el camino hasta llegar a la meta</p>
  <p><span class="numbers">2.</span> Las flechas que seleccione se mostraran en el recuadro de opciones donde podrá ir
    verificando el
    camino que
    desea tomar.</p>
  <p><span class="numbers">3.</span>. El botón de deshacer se encuentra en la parte inferior del recuadro de flechas
    seleccionadas, este sirve para
    deshacer la jugada anterior que usted selecciono en caso de que cambie de opinion o haya tenido algún error al
    seleccionar la flecha</p>
  <p><span class="numbers">4.</span>. Cuando haya verificado el camino que desea recorrer, deberá darle Click al boton
    de "Iniciar" el cual le
    mostrará poco a poco el camino que ha seleccionado y en caso de llegar a la meta le mostrará una ventana de Exito,
    en caso de encontrar una trampa, se mostrará una ventana de error</p>
  <p><span class="numbers">5.</span> En el nivel 5, será redirigido a una nueva ventana donde verá los resultados del
    Test y se le pide que llene una
    pequeña encuesta para saber el nivel de satisfacción con el test.</p>
</div>
