.main-array
    height: 100%
    width: 50%
    background-color: #C6C7C9
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-left: 30px
    padding: 20px 0px 20px 0px
    border-radius: 4%

.main-container
    height: 520px
    width: 100%

.cells
    width: 11%
    background-color: rgb(41, 165, 237)
    margin: 2px
    border-radius: 4%
    display: flex
    align-items: center
    justify-content: center

.activate
    background-color: rgb(209, 212, 35)

.obstacle
    background-color: red

.player-solution
    border: 1px solid black
    border-radius: 4%
