.main-array
    height: 100%
    width: 50%
    background-color: #C6C7C9
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-left: 30px
    padding: 20px 0px 20px 0px
    border-radius: 4%
    box-shadow: 4px 4px 8px -1px rgba(0,0,0,0.53)

.main-container
    height: 520px
    width: 100%

.cells
    width: 11%
    background-color: rgb(41, 165, 237)
    margin: 2px
    border-radius: 4%
    display: flex
    align-items: center
    justify-content: center

.activate
    background-color: rgb(209, 212, 35)

.obstacle
    background-color: red

.player-solution
    border: 1px solid black
    border-radius: 4%
    margin-left: 15px

.arrow-container
  display: flex
  align-items: center
  justify-content: center

.arrow
  font-size: 70px
  cursor: pointer

.up-arrow
  width: 100%
  margin: auto
  text-align: center

.player-solution
  text-align: center
  display: flex
  flex-direction: column

.arrow-selected
  font-size: 20px
  color: red

.initial-state
  background-image: url(https://icons.iconarchive.com/icons/ph03nyx/super-mario/256/Retro-Mario-icon.png)
  background-position: center
  background-size: cover
  background-color: white
