<div class="main-container d-flex">
  <div class="main-array">
    <div class="cells" *ngFor="let item of numOfCells" [ngClass]="{
      'initial-state': initialState == item,
      'activate':playerOptions.includes(item),
      'obstacle': obstaclesGame.includes(item)
    }">
      {{numOfCells[item]}}
    </div>
  </div>

  <div class="w-50 h-100 d-flex">
    <div class="w-50 h-100">
      <div class="player-solution h-75">
        <i *ngFor="let item of arrowsPlayerArray" [ngClass]="item">
        </i>
      </div>
      <div class="h-25 d-flex align-items-center justify-content-center flex-column">
        <button class="btn btn-danger w-50">Deshacer</button>
        <button (click)="start()" class="mt-2 btn btn-success w-50">Iniciar</button>
      </div>
    </div>
    <div class="w-50 h-100 arrow-container">
      <div class="">
        <i (click)="setMovements('up')" class='up-arrow arrow bx bxs-up-arrow-square'></i>
        <div>
          <i (click)="setMovements('left')" class='arrow bx bxs-left-arrow-square'></i>
          <i (click)="setMovements('down')" class='arrow bx bxs-down-arrow-square'></i>
          <i (click)="setMovements('right')" class='arrow bx bxs-right-arrow-square'></i>
        </div>
      </div>
    </div>
  </div>
</div>
